<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="stylesheet" href="/public/css/burger.css" />

</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>