.box {
  width: 500px;
  /* margin: auto; */
  height: 450px;
}

.bread-top {
  background: #e27b36;
  height: 15%;
  width: 75%;
  border-radius: 60% 60% 0 0;
  box-shadow: inset -15px 0 #d16319;
  margin: 2% auto;
  position: relative;
}

.seeds1 {
  content: "";
  background-color: white;
  width: 8%;
  height: 13%;
  position: absolute;
  left: 10%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(51deg);
}

.seeds3 {
  content: "";
  background-color: white;
  width: 8%;
  height: 13%;
  position: absolute;
  left: 45%;
  top: 45%;
  border-radius: 40%;
  transform: rotate(57deg);
}

.seeds2 {
  position: absolute;
  background-color: white;
  width: 8%;
  height: 13%;
  content: "";
  left: 26%;
  top: 48%;
  border-radius: 40%;
  transform: rotate(152deg);
}

.seeds4 {
  position: absolute;
  background-color: white;
  width: 8%;
  height: 13%;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
}

.seeds5 {
  content: "";
  background-color: white;
  width: 8%;
  height: 13%;
  position: absolute;
  left: 81%;
  top: 54%;
  border-radius: 40%;
  transform: rotate(60deg);
}

.lettuce {
  width: 85%;
  height: 7%;
  background: linear-gradient(#8bb848, #cdf17e);
  margin: 2% auto;
  border-radius: 20px;
}

.bacon {
  width: 80%;
  height: 3%;
  background:  #c45e38;
  margin: 2% auto;
}

.cheese {
  width: 85%;
  height: 4.5%;
  background:  #e9cf3e;
  border-radius: 20px;
  margin: 2% auto;
}

.meat {
  width: 82%;
  height: 8%;
  background:  #702e05;
  border-radius: 15px;
  margin: 2% auto;
}

.bread-bottom {
  background: #e27b36;
  height: 13%;
  width: 75%;
  margin: 2% auto;
  box-shadow: inset -15px 0 #d16319;
  border-radius: 0 0 40% 40%;
}
