html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #e4e9cc !important;
}

.nav_header {
  background: linear-gradient(#ffffff, #ebe2e2);
  box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
}

.webiste_title {
  font-size: 40px;
}

.w-30 {
    width: 30%!important;
}

.fs_20 {
  font-size: 20px !important;
}

.h_35 {
  height: 35px !important;
}

/* Login Page */

.login_form {
  padding: 100px 0px 100px 0px;
}

.login_div {
  background-color: #dce7b1;
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.login_btn {
  padding: 3px 20px 7px 20px;
  background-color: #c3d76a;
  height: 40px;
  font-size: 22px;
}

.login_btn:hover {
  background-color: #c4dd57;
}

.error_div {
  margin: 0 auto;
  text-align: center;
  width: 15%;
  padding: 3px 3px 3px 3px;
  border: 1px dotted #889927;
  border-radius: 8px;
  background-color: #edc1c1;
}


/* Signup Page */

.signup_div {
  background-color: #dce7b1;
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 75px 34px 28px 75px !important;
}

.username_input {
 margin-left: 64px;
}
.password_input {
    margin-left: 69px;
}
.streetAddress_input {
    margin-left: 37px;
}
.city_input {
    margin-left: 103px;
}
.state_input {
    margin-left: 96px;
}
.zip_input {
    margin-left: 107px;
}
.email_input {
    margin-left: 93px;
}
.phone_input {
    margin-left: 88px;
}
.user_label {
    padding: 5px 89px 5px 115px
}
.signup_btn {
    padding: 3px 20px 7px 20px;
    background-color: #c3d76a;
    height: 35px;
    font-size: 20px;
  }


  /* Restaurants Page */
.rest {
    border: 1px dashed black;
    margin: 6px 0px 6px 14px !important;
    padding: 13px 0px 13px 12px;
    background-color: #dee9af;
    border-radius: 5px;
  }

.reviews_link {
 border: 1px dotted black;
 padding: 3px 11px 7px 11px;
 border-radius: 7px;
 background-color: #d1e189;
 margin: 0px 0px 0px 18px
}

.restName_link {
    border: 1px dotted black;
    padding: 3px 11px 7px 11px;
    border-radius: 7px;
    background-color: #d1e189;
}

.restaurantsPage_heading {
    font-size: 28px;
    margin: 0px 0px 21px 13px;
    padding: 0px 0px 0px 13px;
    box-shadow: 0 3px 11px 4px grey;
    width: 20%;
    background-color: white;
}

/* Reviews Page */

.review_heading {
    font-size: 31px;
    font-weight: 500;
}

.new_review_div {
  width: 35%;
  border: 1px dashed;
  padding: 13px 0px 0px 16px;
  background-color: #dee9af;  
}

.add_review {
  border-bottom: 1px solid;
  width: 97px;
  margin-bottom: 11px;
  font-style: italic;
}

.new_review_input {
margin: 4px 1px 1px 1px !important
}

.new_review_label {
    margin-right: 70px;
}

.new_rating_label {
    margin-right: 73px;
}

.submit_review_btn {
 text-align: center;
 margin-top: 25px;
}

.reviews {
    width: 35% !important;
    border: 1px dashed;
  padding: 17px 0px 0px 0px;
  background-color: #dee9af;
}

.rev {
box-shadow: 0 5px 2px -2px grey;
width: 35% !important;
}

.reply_div {
    border: 1px dashed;
    padding: 5px 0px 0px 9px;
    margin: 0px 0px 11px 0px;
}