<div class="ml-4 create_res_heading mb-3"><h3>{{page_function}}</h3></div>
{{#if error}}
  <div class="error_div"><h2 id="error">{{error}}</h2></div>
{{/if}}

<div class="pl-4">
  <form method="POST" id="restaurant-form" action="/restaurants/create">
    <div>
      <label class="font-weight-bold" id="name">Restaurant name:
        <input type = "text" name="name" placeholder="Restaurant name" class="crt_rest_name"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="streetAddress">Street Address:
        <input type = "text" name="streetAddress" placeholder="Street Address" class="crt_str_add"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="city">City:
        <input type = "text" name="city" placeholder="City" class="crt_city"/>
      </label>
    </div>
    <!--TODO: change to dropdown -->
    <div>
      <label class="font-weight-bold" id="state">State:
        <input type = "text" name="state" placeholder="State" class="crt_state"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="zip">Zip:
        <input type = "text" name="zip" placeholder="Zip" class="crt_zip"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="email">Email:
        <input type = "text" name="email" placeholder="Email" class="crt_email"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="phone">Phone:
        <input type = "text" name="phone" placeholder="123-456-7890" class="crt_phone"/>
      </label>
    </div>

    <div class="mb-3">
      <label for="priceRange" class="font-weight-bold">Choose a price range:</label>
      <select name="priceRange" id="priceRange">
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
      </select>
    </div>

    <div class="row pl-3">
      <div class="font-weight-bold">Select Restaurant Food Categories:</div>
      <div>
        <div>
          <label id="asian" >
            <input type = "checkbox" name="asian" class="ml-3 mr-2 mt-0"/>Asian
          </label>
        </div>
        <div>
          <label id="american" >
            <input type = "checkbox" name="american" class="ml-3 mr-2 mt-0"/>American
          </label>
        </div>
        <div>
          <label id="Italian" >
            <input type = "checkbox" name="italian" class="ml-3 mr-2 mt-0"/>Italian
          </label>
        </div>
      </div>
    </div>
    
    

    <label id="submit">
      <input type="submit" value="Create" class="crt_btn"/>
    </label>
  </form>
</div>