<div class="ml-4 create_res_heading mb-3"><h3>{{page_function}}</h3></div>
{{#if error}}
  <div class="error_div"><h2 id="error">{{error}}</h2></div>
{{/if}}

<div class="pl-4">
  <form method="POST" id="restaurant-form" action="/restaurants/create">
    <div>
      <label class="font-weight-bold" id="name">Restaurant name:
        <input type = "text" name="name" placeholder="Restaurant name" class="crt_rest_name"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="streetAddress">Street Address:
        <input type = "text" name="streetAddress" placeholder="Street Address" class="crt_str_add"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="city">City:
        <input type = "text" name="city" placeholder="City" class="crt_city"/>
      </label>
    </div>
    <!--TODO: change to dropdown -->
    <div>
      <label class="font-weight-bold" id="state">State:
        <select name = "state" class="crt_state">
            <option value = "Alabama">Alabama</option>
            <option value = "Alaska">Alaska</option>
            <option value = "Arizona">Arizona</option>
            <option value = "Arkansas">Arkansas</option>
            <option value = "California">California</option>
            <option value = "Colorado">Colorado</option>
            <option value = "Connecticut">Connecticut</option>
            <option value = "Delaware">Delaware</option>
            <option value = "Florida">Florida</option>
            <option value = "Georgia">Georgia</option>
            
            <option value = "Hawaii">Hawaii</option>
            <option value = "Idaho">Idaho</option>
            <option value = "Illinois">Illinois</option>
            <option value = "Indiana">Indiana</option>
            <option value = "Iowa">Iowa</option>
            <option value = "Kansas">Kansas</option>
            <option value = "Kentucky">Kentucky</option>
            <option value = "Louisiana">Louisiana</option>
            <option value = "Maine">Maine</option>
            <option value = "Maryland">Maryland</option>

            <option value = "Massachusetts">Massachusetts</option>
            <option value = "Michigan">Michigan</option>
            <option value = "Minnesota">Minnesota</option>
            <option value = "Mississippi">Mississippi</option>
            <option value = "Missouri">Missouri</option>
            <option value = "Montana">Montana</option>
            <option value = "Nebraska">Nebraska</option>
            <option value = "Nevada">Nevada</option>
            <option value = "New Hampshire">New Hampshire</option>
            <option value = "New Jersey">New Jersey</option>

            <option value = "New Mexico">New Mexico</option>
            <option value = "New York">New York</option>
            <option value = "North Carolina">North Carolina</option>
            <option value = "North Dakota">North Dakota</option>
            <option value = "Ohio">Ohio</option>
            <option value = "Oklahoma">Oklahoma</option>
            <option value = "Oregon">Oregon</option>
            <option value = "Pennsylvania">Pennsylvania</option>
            <option value = "Rhode Island">Rhode Island</option>
            <option value = "South Carolina">South Carolina</option>

            <option value = "South Dakota">South Dakota</option>
            <option value = "Tennessee">Tennessee</option>
            <option value = "Texas">Texas</option>
            <option value = "Utah">Utah</option>
            <option value = "Vermont">Vermont</option>
            <option value = "Virginia">Virginia</option>
            <option value = "Washington">Washington</option>
            <option value = "West Virginia">West Virginia</option>
            <option value = "Wisconsin">Wisconsin</option>
            <option value = "Wyoming">Wyoming</option>
      </select>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="zip">Zip:
        <input type = "text" name="zip" placeholder="Zip" class="crt_zip"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="email">Email:
        <input type = "text" name="email" placeholder="Email" class="crt_email"/>
      </label>
    </div>
    <div>
      <label class="font-weight-bold" id="phone">Phone:
        <input type = "text" name="phone" placeholder="123-456-7890" class="crt_phone"/>
      </label>
    </div>

    <div class="mb-3">
      <label for="priceRange" class="font-weight-bold">Choose a price range:</label>
      <select name="priceRange" id="priceRange">
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
      </select>
    </div>

    <div class="row pl-3">
      <div class="font-weight-bold">Select Restaurant Food Categories:</div>
      <div>
        <div>
          <label id="asian" >
            <input type = "checkbox" name="asian" class="ml-3 mr-2 mt-0"/>Asian
          </label>
        </div>
        <div>
          <label id="american" >
            <input type = "checkbox" name="american" class="ml-3 mr-2 mt-0"/>American
          </label>
        </div>
        <div>
          <label id="Italian" >
            <input type = "checkbox" name="italian" class="ml-3 mr-2 mt-0"/>Italian
          </label>
        </div>
      </div>
    </div>
    
    

    <label id="submit">
      <input type="submit" value="Create" class="crt_btn"/>
    </label>
  </form>
</div>
