<h1>{{page_function}}</h1>
  {{#if error}}
    <h2 id="error">{{error}}</h2>
  {{/if}}
  <form method="POST" id="menu-form" action="/restaurants/menu/add">
    <label id="foodname">Food name:
      <input type = "text" name="foodname" placeholder="Food name"/>
    </label>
    <br>
    <label id="price">Price:
      <input type = "text" name="price" placeholder="5.99"/>
    </label>
    <br>
    <label id="submit">Submit:
      <input type="submit"/>
    </label>

    {{#each restaurant.menuItems}}
        <h1>food item</h1>
    {{/each}}
</form>