<h1>{{page_function}}</h1>

{{#if restaurant.menuItems.length}}
  {{#each restaurant.menuItems}}

{{#if this.isBurger}}
  <div class="box">
    <div class="bread_top" id="bread_top_css">
      <div class="seeds1"></div>
      <div class="seeds2"></div>
      <div class="seeds3"></div>
      <div class="seeds4"></div>
      <div class="seeds5"></div>
    </div>
    <div class="lettuce" id="lettuce_css"></div>
    <div class="bacon" id="bacon_css"></div>
    <div class="cheese" id="cheese_css"></div>
    <div class="meat" id="meat_css"></div>
    <div class="bread_bottom" id="bread_bottom_css"></div>
  </div>
  
  <label><input onclick="getValue()" type="checkbox" checked="true" id="bread_top"  value="bread_top" > Top Bread</label>
  <label><input onclick="getValue()" type="checkbox" checked="true" id="lettuce"  value="lettuce" > Lettuce</label>
  <label><input onclick="getValue()" type="checkbox" checked="true" id="bacon"  value="bacon" > Bacon</label>
  <label><input onclick="getValue()" type="checkbox" checked="true" id="cheese"  value="cheese" > Cheese</label>
  <label><input onclick="getValue()" type="checkbox" checked="true" id="meat"  value="meat" > Meat</label>
  <label><input onclick="getValue()" type="checkbox" checked="true" id="bread_bottom" value="bread_bottom" name=""> Bottom Bread</label>
 {{/if}}

    <section>
      <p><input type="checkbox" id={{this.itemName}}  value="bread_top" >{{this.itemName}} </p>
      {{!-- <button class="cart">Add to cart</button> --}}
    </section>
  {{/each}}
  <button class="cart" onclick="getValue_item()">Add to cart</button>

{{else}}
<p>This restaurant hasn't created their menu yet!</p>
{{/if}}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src='/public/js/restaurant_jq.js'></script>