{{!-- <h1>IT'S TIME TO LOG IN!</h1> --}}

  <div class="container w-25 login_div">
  <form class=" login_form" method="POST" id="login-form" action="/login">
    <div class="d-flex justify-content-center pb-3">
    <label id="username" class="fs_20">Username
      <input type = "text" name="username"  placeholder="Enter your username" class="h_35"/>
    </label>
    </div>
    <div class="d-flex justify-content-center pb-3">
    <label id="password" class="fs_20">Password
      <input type = "password" name="password" placeholder="Enter your password" class="ml-1 h_35"/>
    </label>
    </div>
    <div class="d-flex justify-content-center">
    <label id="submit">
      <input type="submit" value="Login" class="login_btn"/>
    </label>
    </div>
</form>
<div class=" text-center pb-3"><a href="/signup">Need to register? Click here to sign-up</a></div>
</div>
  {{#if error}}
    <div id="error" class="error_div mt-5">{{error}}</div>
  {{/if}}