{{!-- <h1>IT'S TIME TO SIGN UP!</h1> --}}
  {{#if error}}
    <h2 id="error">{{error}}</h2>
  {{/if}}
  <div class="container signup_div">
  <form method="POST" id="signup-form" action="/signup">
    <div class="">
    <label id="username" class="">Username
      <input type = "text" pattern="[0-9A-Za-z_]{4,}" required name="username" placeholder="Username" class="username_input"/>
    </label>
    </div>
    <div class="">
    <label id="password">Password
      <input type = "password" pattern="[^' ']{8,}" required name="password" placeholder="Password" class="password_input"/>
    </label>
    </div>
    <div class="">
    <label id="streetAddress">Street Address
      <input type = "text" required name="streetAddress" placeholder="Street Address" class="streetAddress_input"/>
    </label>
    </div>
    <div class="">
    <label id="city">City
      <input type = "text" required name="city" placeholder="City" class="city_input"/>
    </label>
    </div>
    <div class="">
    <label id="state">State
      <select name = "state" class="state_input">
            <option value = "Alabama" selected>Alabama</option>
            <option value = "Alaska">Alaska</option>
            <option value = "Arizona">Arizona</option>
            <option value = "Arkansas">Arkansas</option>
            <option value = "California">California</option>
            <option value = "Colorado">Colorado</option>
            <option value = "Connecticut">Connecticut</option>
            <option value = "Delaware">Delaware</option>
            <option value = "Florida">Florida</option>
            <option value = "Georgia">Georgia</option>
            
            <option value = "Hawaii">Hawaii</option>
            <option value = "Idaho">Idaho</option>
            <option value = "Illinois">Illinois</option>
            <option value = "Indiana">Indiana</option>
            <option value = "Iowa">Iowa</option>
            <option value = "Kansas">Kansas</option>
            <option value = "Kentucky">Kentucky</option>
            <option value = "Louisiana">Louisiana</option>
            <option value = "Maine">Maine</option>
            <option value = "Maryland">Maryland</option>

            <option value = "Massachusetts">Massachusetts</option>
            <option value = "Michigan">Michigan</option>
            <option value = "Minnesota">Minnesota</option>
            <option value = "Mississippi">Mississippi</option>
            <option value = "Missouri">Missouri</option>
            <option value = "Montana">Montana</option>
            <option value = "Nebraska">Nebraska</option>
            <option value = "Nevada">Nevada</option>
            <option value = "New Hampshire">New Hampshire</option>
            <option value = "New Jersey">New Jersey</option>

            <option value = "New Mexico">New Mexico</option>
            <option value = "New York">New York</option>
            <option value = "North Carolina">North Carolina</option>
            <option value = "North Dakota">North Dakota</option>
            <option value = "Ohio">Ohio</option>
            <option value = "Oklahoma">Oklahoma</option>
            <option value = "Oregon">Oregon</option>
            <option value = "Pennsylvania">Pennsylvania</option>
            <option value = "Rhode Island">Rhode Island</option>
            <option value = "South Carolina">South Carolina</option>

            <option value = "South Dakota">South Dakota</option>
            <option value = "Tennessee">Tennessee</option>
            <option value = "Texas">Texas</option>
            <option value = "Utah">Utah</option>
            <option value = "Vermont">Vermont</option>
            <option value = "Virginia">Virginia</option>
            <option value = "Washington">Washington</option>
            <option value = "West Virginia">West Virginia</option>
            <option value = "Wisconsin">Wisconsin</option>
            <option value = "Wyoming">Wyoming</option>
      </select>
    </label>
    </div>
    <div class="">
    <label id="zip">Zip
      <input type = "text" pattern="[0-9]{5}" required name="zip" placeholder="Zip" class="zip_input"/>
    </label>
    </div>
    <div class="">
    <label id="email">Email
      <input type = "text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="email" placeholder="Email" class="email_input"/>
    </label>
    </div>
    <div class="">
    <label id="phone">Phone
      <input type = "text" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required name="phone" placeholder="123-456-7890" class="phone_input"/>
    </label>
    </div>
    <div class="">
    <label id="user" class="user_label">User
      <input type = "radio" name="accountType" value="user"/>
    </label>
    <label id="manager">Manager
      <input type = "radio" name="accountType" value="manager"/>
    </label>
    </div>
    <div class="d-flex justify-content-center mr-4 mt-3">
    <label id="submit">
      <input type="submit" value="Sign Up" class="signup_btn"/>
    </label>
    </div> 
</form>
<div class="pl-5"><a class="link_color" href="/login">Already have an account? Click here to log in</a></div>
</div>
